<div class="ui inverted vertical masthead center aligned segment" id="masthead">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            {{partial "menu" .}}
            <div class="right item">
                <a class="ui inverted button">Log in</a>
                <a class="ui inverted button">Sign Up</a>
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            Imagine-a-Company
        </h1>
        <h2>{{.Site.Title}}</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>